@charset "utf-8";

#headwrap  {
	width: 900px;
	margin-left: 35px;
	margin-top: 10px;
	background-color: #ffffff;
	height: 40px;
}

nav {
	margin-top: 13px;
	max-width: 280px;
	float: right;
	font-weight: normal;
	margin-bottom: 2px;
	margin-right: 10px;		
}


header {
	
	float: left;
	max-width: 960px;
}
h1 {
	width: 200px;
	text-align: center;
	float: left;
	color: white;
	font-family: Cambria, "Times", "Times New Roman", serif;
	background-color: #4AAAA5;
	height: 39px;
	padding-top: 1px;
	font-size: xx-large;
	font-weight: bold;
}

body {
	color: #777777;
	width: 960px;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	
}
img {

}
section {
	background-image: url(../images/concrete_seamless.png);
	border: 3px solid #666666;
	height: auto;
	
	
}
h2 {
	clear: left;
	color: #4aaaa5;
	margin-left: 50px;
	font-size: x-large;
	font-weight: bold;
	margin-top: 5px;
}
#portpic {
	margin-left: 48px;
	float: left;
	margin-right: 30px;
}
p {
	line-height: 200%;
	margin-left: 50px;
	margin-right: 39px;
}


aside {
	max-width: 234px;
	float: right;
	margin-top: 30px;
	background-color: #ffffff;
	margin-right: 20px;
	padding-left: 10px;
	padding-right: 0px;
	height: 121px;
}

article {
	max-width: 650px;
	background-color: #ffffff;
	margin-top: 30px;
	margin-left: 30px;
	display: inline-block;
	margin-bottom: 30px;
}

footer {
	clear: both;
	background-color: #666666;
	color: white;
	font-size: x-small;
	text-align: center;
	height: 30px;
	border-top: 8px solid #4aaaa5;
}
a {
	margin-left: 30px;

}

a:link {
	text-decoration: none;
	color: #777777;
}

a:hover {
	color: #4aaaa5;
}

a:visited {
	color: #777777;
}

a:active  {
	color: #777777;
	font-weight: bold;
	background-color: #4aaaa5;
}

h3  {
	color: #4aaaa5;
	margin-left: 35px;
	font-size: large;
	font-weight: bold;
	margin-top: 10px;

}
form {
	width: 650px;
	margin-left: 45px;
}
#button {
	margin-top: 15px;
	background-color: #4aaaa5;
	color: #ffffff;
	width: 75px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
}

h4 {
	padding-bottom: 1px;
	margin-bottom: 1px;
}
input {
	width: 370px;
	margin-bottom: 19px;
}
.portfoio {
	margin-left: 30px;
	margin-bottom: 14px;



}
.socialIcons {
	margin-top: 20px;
	padding-top: 0px;

}


@media screen and (max-width:980px){
	
}



@media screen and (max-width:768px){

article {
	float: none;
	max-width: 650px;
	
}
aside {
	float: none;
	max-width: 650px;
	min-width: 640px;
	margin-left: 30px;
}
div {
	text-align: center;
}


body {
	max-width: 768px;
}
h3 {
	text-align: center;
}
header {
	max-width: 650px;
	margin-left: 30px;
}


	
}



@media screen and (max-width:640px){
	
body {
	max-width: 640px;
}
h1 {
	float: none;
	clear: none;
	text-align: center;
	margin-left: 140px;
}
nav {
	float: none;
	clear: none;
	margin-left: 140px;
}
header {
	text-align: center;
	max-width: 597px;
}
article {
	max-width: 600px;
}
aside {
	max-width: 500px;
	margin-right: 16px;
}
	
}


